<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>.styled-input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 14px;

    border: 2px solid #2c3e50 !important;   /* Borde hace contraste */
    border-radius: 8px !important;          /* Redondeado */
    background-color: #fdfdfd;

    font-size: 16px;
}

.styled-input:focus {
    border-color: #3498db !important;   /* Azul al enfocar */
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
}</style>
</head>
<body class="bg-gray-100 p-6">
<div class="max-w-xl mx-auto bg-white p-6 rounded shadow">
    <h1 class="text-2xl font-bold mb-4">{{ titulo }}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="mt-4 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">Guardar</button>
    </form>
</div>
</body>
</html>
