{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
<style>
    .card {
        background: white;
        border-radius: 16px;
        padding: 28px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.08);
        margin-bottom: 30px;
    }

    .card h2 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .form-row {
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        width: 100%;
        padding: 12px;
        border-radius: 12px;
        background: #fafafa;
        border: 1px solid #d6d6d6;
        font-size: 14px;
    }

    .submit-row input {
        background: #4a90e2 !important;
        border-radius: 12px !important;
        padding: 10px 16px !important;
        border: none !important;
        font-weight: bold;
        color: white !important;
        transition: 0.2s ease;
    }

    .submit-row input:hover {
        background: #357ABD !important;
    }
</style>
{% endblock %}

{% block content %}



{{ block.super }}
{% endblock %}
