:root {
    color-scheme: light !important;
}

/* Forzar colores claros del admin */
body, html, .module, .grp-module, .dashboard {
    background: #ffffff !important;
    color: #222 !important;
}

/* Tablas */
table {
    background: #fff !important;
}
